<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
        <link rel='stylesheet' href='/stylesheets/habitations.css' />

        <link rel="stylesheet/css" type="text/css"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />

        <link rel="stylesheet/css" type="text/css"
            href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" />

        <%- include('partials/scripts') %>
</head>


<body>
    <%- include('partials/nav') %>
        <div class="container-lg" id="container-table">
            <h1 class="mt-5 mb-5"><i class="fa-solid fa-location-dot" aria-hidden="true"></i> Liste des habitations
            </h1>
            <!-- Boutons radio -->
            <div class="button-container">
                <div class="button-radio">
                    <input type="radio" name="radio" id="null" class="radio">

                    <label for="null">Toutes</label>
                </div>
                <div class="button-radio">
                    <input type="radio" name="radio" id="mouscron" class="radio">

                    <label for="mouscron">Moucron</label>
                </div>
                <div class="button-radio">
                    <input type="radio" name="radio" id="dottignies" class="radio">

                    <label for="dottignies">Dottignies</label>
                </div>
                <div class="button-radio">
                    <input type="radio" name="radio" id="luingne" class="radio">

                    <label for="luingne">Luingne</label>
                </div>
                <div class="button-radio">
                    <input type="radio" name="radio" id="herseaux" class="radio" />
                    <label for="herseaux">Herseaux</label>
                </div>
            </div>

            <script>
                // Store the selected radio button in a variable
                let selectedRadio = null;

                document.querySelectorAll('.radio').forEach(function (radio) {
                    radio.addEventListener('click', function () {
                        // Uncheck all radio buttons
                        document.querySelectorAll('.radio').forEach(function (radio) {
                            radio.checked = false;
                        });
                        // Check the clicked radio button
                        this.checked = true;
                        // Store the selected radio button
                        selectedRadio = this;
                        // Redirect to the appropriate page
                        switch (this.id) {
                            case 'null':
                                window.location = '/habitations/validation';
                                selectedRadio.checked = true;
                                console.log(selectedRadio.checked);
                                break;
                            case 'mouscron':
                                window.location = '/habitations/validation/Mouscron';
                                selectedRadio.checked = true;
                                console.log(selectedRadio.checked);
                                break;
                            case 'dottignies':
                                window.location = '/habitations/validation/Dottignies';
                                selectedRadio.checked = true;
                                console.log(selectedRadio.checked);
                                break;
                            case 'luingne':
                                window.location = '/habitations/validation/Luingne';
                                selectedRadio.checked = true;
                                console.log(selectedRadio.checked);
                                break;
                            case 'herseaux':
                                window.location = '/habitations/validation/Herseaux';
                                selectedRadio.checked = true;
                                console.log(selectedRadio.checked);
                                break;
                        }
                    });
                });




            </script>
            <!-- <script>
                const currentUrl = window.location.href;
                const buttons = document.querySelectorAll('.button-radio a');

                buttons.forEach(button => {
                    const buttonUrl = button.getAttribute('href');
                    const input = button.querySelector('input');
                    if (buttonUrl === currentUrl) {
                        input.setAttribute('checked', true);
                    } else {
                        input.setAttribute('checked', false);
                    }
                });
            </script> -->
            <!-- Liste des habitations -->

            <div class="container mt-5">
                <% habitations.forEach((habitation)=> {
                    var color;
                    if(habitation.localite=='Mouscron'){
                    color='blue';
                    }
                    else if(habitation.localite=='Dottignies'){
                    color = 'green';
                    }
                    else if(habitation.localite=='Herseaux'){
                    color= 'red';
                    }
                    else if(habitation.localite=='Luingne'){
                    color= 'yellow';
                    }
                    %>



                    <article class="postcard light <%=color%>">
                        <a class="postcard__img_link" href="#">
                            <img class="postcard__img" src="/img/<%=habitation.localite%>.jpg" alt="Image Title" />
                        </a>
                        <div class="mypostcard">
                            <div class="postcard__text t-dark">
                                <h1 class="postcard__title blue"><a href="#">
                                        <%=habitation.adresse %>
                                    </a></h1>
                                <div class="postcard__subtitle small">
                                    <time datetime="2020-05-25 12:00:00">
                                        <i class="fas fa-calendar-alt mr-2"></i>
                                        <%= habitation.datedebut %>
                                    </time><br>
                                    <time datetime="2020-05-25 12:00:00">
                                        <i class="fas fa-calendar-alt mr-2"></i>
                                        <%= habitation.datefin %>
                                    </time>
                                </div>
                                <div class="postcard__bar"></div>
                                <div class="postcard__applicant">

                                    <i class="fas fa-user-alt"></i> Demandeur:
                                    <%= habitation.demandeur %>
                                </div><br>
                                <div class=" postcard__preview-txt">

                                    <% let mesures=habitation.mesures %>
                                        <%=mesures.split("-").join("\n"); %>

                                </div>
                                <ul class="postcard__tagbox">
                                    <li class="tag__item"><i class="fas fa-tag mr-2"></i>
                                        <%=habitation.localite%>
                                    </li>
                                    <li class="tag__item"><i class="fas fa-clock mr-2"></i> x jours restant</li>
                                    <li class="tag__item play blue">
                                        <a href="#"><i class="fas fa-play mr-2"></i> Valider l'habitation</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </article>


                    <% }) %>

            </div>
        </div>


        <%- include('partials/footer') %>

            <%- include('partials/scripts') %>
</body>

</html>