<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
        <link rel='stylesheet' href='/stylesheets/habitations.css' />

        <link rel="stylesheet/css" type="text/css"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />

        <link rel="stylesheet/css" type="text/css"
            href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" />

        <%- include('partials/scripts') %>
</head>


<body>
    <%- include('partials/nav') %>
        <div class="container-lg" id="container-table">
            <h1 class="mt-5 mb-5"><i class="fa-solid fa-location-dot" aria-hidden="true"></i> Liste des habitations
            </h1>
            <!-- Boutons radio -->
            <div class="button-container">
                <div class="button-radio">
                    <input type="radio" name="radio" id="null" class="radio">

                    <label for="null">Toutes</label>
                </div>
                <div class="button-radio">
                    <input type="radio" name="radio" id="mouscron" class="radio">

                    <label for="mouscron">Moucron</label>
                </div>
                <div class="button-radio">
                    <input type="radio" name="radio" id="dottignies" class="radio">

                    <label for="dottignies">Dottignies</label>
                </div>
                <div class="button-radio">
                    <input type="radio" name="radio" id="luingne" class="radio">

                    <label for="luingne">Luingne</label>
                </div>
                <div class="button-radio">
                    <input type="radio" name="radio" id="herseaux" class="radio" />
                    <label for="herseaux">Herseaux</label>
                </div>
            </div>

            <script>

                $('.radio').each(function () {
                    $(this).click(function () {
                        // Uncheck all radio buttons

                        // Redirect to the appropriate page
                        switch (this.id) {
                            case 'null':
                                window.location = '/habitations/validation';
                                this.checked = true;
                                console.log(this.checked);
                                break;
                            case 'mouscron':
                                window.location = '/habitations/validation/Mouscron';
                                this.checked = true;
                                console.log(this.checked);
                                break;
                            case 'dottignies':
                                window.location = '/habitations/validation/Dottignies';
                                this.checked = true;
                                console.log(this.checked);
                                break;
                            case 'luingne':
                                window.location = '/habitations/validation/Luingne';
                                this.checked = true;
                                console.log(this.checked);
                                break;
                            case 'herseaux':
                                window.location = '/habitations/validation/Herseaux';
                                this.checked = true;
                                console.log(this.checked);
                                break;
                        }
                    });
                });

                $(document).ready(function () {
                    // Get the current page URL
                    var currentURL = window.location.href;

                    // Check the appropriate radio button based on the URL
                    switch (currentURL) {
                        case '/habitations/validation':
                            $('#null').prop('checked', true);
                            break;
                        case '/habitations/validation/Mouscron':
                            $('#mouscron').prop('checked', true);
                            break;
                        case '/habitations/validation/Dottignies':
                            $('#dottignies').prop('checked', true);
                            break;
                        case '/habitations/validation/Luingne':
                            $('#luingne').prop('checked', true);
                            break;
                        case '/habitations/validation/Herseaux':
                            $('#herseaux').prop('checked', true);
                            break;
                    }
                });



            </script>
            <!-- <script>
                const currentUrl = window.location.href;
                const buttons = document.querySelectorAll('.button-radio a');

                buttons.forEach(button => {
                    const buttonUrl = button.getAttribute('href');
                    const input = button.querySelector('input');
                    if (buttonUrl === currentUrl) {
                        input.setAttribute('checked', true);
                    } else {
                        input.setAttribute('checked', false);
                    }
                });
            </script> -->
            <!-- Liste des habitations -->

            <div class="container mt-5">
                <% habitations.forEach((habitation)=> {
                    var color;
                    if(habitation.localite=='Mouscron'){
                    color='blue';

                    }
                    else if(habitation.localite=='Dottignies'){
                    color = 'green';
                    }
                    else if(habitation.localite=='Herseaux'){
                    color= 'red';
                    }
                    else if(habitation.localite=='Luingne'){
                    color= 'yellow';
                    }
                    %>



                    <article class="postcard light <%=color%> postcard-container animated-fade-in data-toggle=modal data-target=#myModal
                    <%= habitation.id %>">
                        <a class=" postcard__img_link" href="#">
                            <img class="postcard__img" src="/img/<%=habitation.localite%>.jpg" alt="Image Title" />
                        </a>
                        <div class="mypostcard">
                            <div class="postcard__text t-dark">
                                <h1 class="postcard__title blue"><a href="#">
                                        <%=habitation.adresse %>
                                    </a></h1>
                                <div class="postcard__subtitle small">
                                    <time datetime="2020-05-25 12:00:00">
                                        <i class="fas fa-calendar-alt mr-2"></i>
                                        <%= habitation.datedebut %>
                                    </time><br>
                                    <time datetime="2020-05-25 12:00:00">
                                        <i class="fas fa-calendar-alt mr-2"></i>
                                        <%= habitation.datefin %>
                                    </time>
                                </div>
                                <div class="postcard__bar"></div>
                                <div class="postcard__applicant">

                                    <i class="fas fa-user-alt"></i> Demandeur:
                                    <%= habitation.demandeur %>
                                </div>
                                <div class="postcard__preview-txt" id="postcard__preview-txt"><br>
                                    <i class="fas fa-users-cog"></i> Mesures:
                                    <pre><% let mesures=habitation.mesures %><%=mesures.split("-").join("\n-"); %></pre>
                                </div>
                                <ul class="postcard__tagbox">
                                    <li class="tag__item"><i class="fas fa-tag mr-2"></i>
                                        <%= habitation.localite %>
                                    </li>
                                    <li class="tag__item"><i class="fas fa-clock mr-2"></i>
                                        <% // Créer un objet Date pour la date du jour et pour la date de fin const
                                            today=new Date(); const dateFin=new Date(habitation.datefin); const
                                            diff=dateFin.getTime() - today.getTime(); const diffInDays=Math.round(diff /
                                            86400000); %>
                                            <%= diffInDays %> jours restants
                                    </li>
                                    <li class="tag__item play blue">
                                        <i class="fas fa-play mr-2"></i> informations
                                    </li>
                                </ul>
                                <script>const toggleInformation = () => {
                                        const informationElement = document.getElementById('postcard__preview-txt');
                                        if (informationElement.style.display === 'none') {
                                            informationElement.style.display = 'block';
                                        } else {
                                            informationElement.style.display = 'none';
                                        }
                                    };

                                    const informationButton = document.querySelector('.tag__item.play.blue');
                                    informationButton.addEventListener('click', toggleInformation);
                                </script>
                                <button type="button" class="btn btn-primary text-right" data-toggle="modal"
                                    data-target="#myModal<%=habitation.id%>">
                                    Valider l'habitation
                                </button>
                            </div>
                        </div>
                    </article>


                    <div class="modal fade" id="myModal<%=habitation.id%>" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="false">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">

                                    <h5 class="modal-title" id="exampleModalLabel">Détails surveillance</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="false">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="informationHabitation">

                                        <h5>ID : <%= habitation.id %>
                                        </h5>
                                        <b>Adresse : </b>
                                        <%= habitation.adresse %><br>
                                            <b>Localité : </b>
                                            <%= habitation.localite %><br>
                                                <b>Demandeur : </b>
                                                <%= habitation.demandeur %><br>
                                                    <b>Date départ : </b>
                                                    <%= habitation.datedebut %><br>
                                                        <b>Date retour : </b>
                                                        <%= habitation.datefin %><br>
                                                            <b>Mesures de sécurité: </b>
                                                            <pre><%= habitation.mesures %><br></pre>
                                                            <b>Véhicule: </b>
                                                            <%= habitation.vehicule %><br>
                                    </div><br>
                                    <a href="https://www.google.com/maps/place/<%= habitation.adresse %>,+<%= habitation.cp %>+<%= habitation.localite %>"
                                        target="_blank">
                                        <img src="/img/googlemap100.png" alt="googlemap" width="50">
                                    </a>
                                    <h5>
                                        <div class="barre horizontale">
                                            _______________________________________________________</div>
                                    </h5>
                                    <div class="ValidationHabitation">
                                        <form action="/habitations/validation" method="POST">
                                            <h5><span class="label label-default">Matricule</span></h5>
                                            <div class="input-group m-1">
                                                <select name="agent" class="form-control">
                                                    <option value="default" selected>Choisissez un agent</option>
                                                    <% agents.forEach((Agent)=> { %>
                                                        <option value="<%= Agent.matricule %>">
                                                            <%= Agent.matricule %>
                                                        </option>
                                                        <% }) %>
                                                </select>

                                                <div class="adresse">
                                                    <input type="hidden" name="adresse"
                                                        value="<%= habitation.adresse %>">
                                                </div>
                                            </div>
                                            <h5><span class="label label-default">Message : </span></h5>
                                            <div class="mb-3"><textarea class="form-control" name="message"
                                                    id="exampleFormControlTextarea1" rows="4"></textarea></div>

                                            <input type="submit" name="bValiderHabitation" value="Valider"
                                                class="btn btn-primary m-1">
                                    </div>
                                    </form>
                                </div>



                            </div>


                        </div>

                    </div>





                    <% }) %>





            </div>
        </div>


        <%- include('partials/footer') %>

            <%- include('partials/scripts') %>
</body>

</html>